body{background:#fff;color:#141823;margin:0;padding:0;text-align:left;direction:ltr;unicode-bidi:embed}

.subnav{ width:250px; position:relative;f loat:left;}
.subnav ul { position:relative; float:left; width:50%; width:50px;}
.subnav li{ font-size:16px; line-height:48px; border-bottom:1px solid #e2e2e2; margin:0;padding:0;text-align:left;list-style:none; width:250px;}
.subnav li a{ color:#7b8383; display:block;  text-decoration:none; font-size:12px; width:250px;}
.subnav li a:hover{ color:#01aada;}
.divsub{width:250px; height:300px;}